@media screen and (max-width:576px) {

    .container {
        width: 100%;
        overflow-x: hidden;
    }

    .menu {
        flex-direction: column;
    }

    .nav-item {
        flex-direction: column;
    }

    /* quick list section */
    .quick-list-container,
    .quick-list-left-container {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }

    .quick-list-left-container img {
        padding: 0px;
    }

    .quick-imag {
        margin: 0 auto;
    }

    /* features love section responsive */
    .features-love {
        grid-template-columns: 1fr;
    }

    /* some fact responsive */
    .sponspors-description {
        width: 37vh;
    }

    .some-fact-item-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .our-sponspors-logo {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }

    .sponspors-log-img img {
        height: 50px;
        width: 150px;
    }

    .sponspors-log-img {
        text-align: center;
    }
}