@media screen and (max-width:576px) {

    .container {
        width: 100%;
        overflow-x: hidden;
    }

    .menu {
        flex-direction: column;
    }

    .nav-item {
        flex-direction: column;
    }

    /* quick list section */
    .quick-list-container,
    .quick-list-left-container {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }

    .quick-list-left-container img {
        padding: 0px;
    }

    .quick-imag {
        margin: 0 auto;
    }

    /* features love section responsive */
    .features-love {
        grid-template-columns: 1fr;
    }

}